[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchainhub = "*"
telegram = "*"
python-telegram-bot = "*"
chromadb = "*"
psycopg2-binary = "*"
supabase = "*"
pydantic = "*"
python-dotenv = "*"
langchain-chroma = "*"
langchain-google-genai = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python -m main"
format = "black ."
lint = "isort ."
